<div class="modal-content">
    <div class="modal-header">
      <h2>Create new chatroom</h2>
      <h5>Enter a room name</h5>
    </div>
    <div class="input-group">
      <input type="text" placeholder="enter new chatroom name" class="form-control" ng-model="roomName">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click="modal.addRoom()">Create room</button>
      </span>
    </div>
    <div class="button-row text-right">
      <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
    </div>
</div>
